{% comment %}
<!--

    v1.00 _includes/alert.html
    
    include alert.html  message = [string] (required)
                        icon = [string] (optional)
                        theme = [sting] (optional site.data.theme.alert.default)
                        
-->
{% endcomment %}
--- 
alert:
    default:
        class: alert alert-primary alert-dismissible fade show
         icon:
    warning:
        class: alert alert-warning alert alert-dismissible fade show
        icon: fas fa-exclamation-triangle
    error:
        class: alert alert-danger alert-dismissible fade show
        icon: fas fa-exclamation-square
    theme1:
        class: alert text-white brand-bg-unsplash4
        icon:
    theme2:
        class: alert fade show brand-bg-pattern
        icon: fas fa-rocket pr-1

---
{% assign message = include.message %}


{% assign theme = include.theme %}
{% unless theme %}
{% assign theme = page.alert.default %}
{% endunless %}

{% assign icon = include.icon %}
{% unless icon %}
{% assign icon = theme.icon %}
{% endunless %}

{% assign section = include.section %}
{% assign container = include.container %}

{% if message %}
<section id="alert" class="{{ theme.class }}" role="alert">
    {% if container %}<div id="container" class="{{ container }}">{% endif %}
        {% if icon %} <i class="{{ icon }}"></i>{% endif %}
        {{ message }}
        {% if theme.class contains "dismiss" %}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    {% endif %}
</section>
{% if container %}</div>{% endif %}
{% endif %}