html,
body {
    height: 100%
  }

.body-background {
    background: url('/assets/images/default/background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }

.fill {
  flex: 1 0 auto;
}  

#post {
    flex: 1 0 auto;
}

#page {
    flex: 1 0 auto;
}
  
#footer {
    flex-shrink: none;
}

.jumbotron-square  {
    border-top-left-radius:0;
    border-top-right-radius:0;
    border-bottom-right-radius:0;
    border-bottom-left-radius:0;
    margin-top: -17px;
  }

/* toc */
.section-nav  {
    border-top-left-radius:.25rem;
    border-top-right-radius:.25rem;
    border-bottom-right-radius:.25rem;
    border-bottom-left-radius:.25rem;
  }

.toc-entry {
    color: #495057;
    text-decoration: none;
    list-style-type: none;
}

.top-h1 {
  color: #495057;
}
.top-h2 {

}
.top-h3 {

}
.top-h4 {

}
.top-h5 {

}
.top-h6 {

}

/* Markdown */
.markdown table {
  margin-top: .25rem;
  margin-bottom: .25rem;
  border: 1px solid rgba(0,0,0,.125);
  width: 100%;
  border-radius: .25rem;
}

.markdown td {
    border: 1px solid rgba(0,0,0,.125);
    padding: .75rem 1.25rem;
}

.markdown th {    
  padding: .25rem;
  margin-bottom: 0; 
  background-color: rgba(0,0,0,.03);
  border: 1px solid rgba(0,0,0,.125);
}

.language-powershell pre {
  background-color: #012456;
  padding: .25rem;
  border-radius: .25rem;
}

.language-powershell code {
  color: white;
}

.language-mediant pre {
  background-color: Black;
  padding: .25rem;
  border-radius: .25rem;
}

.language-mediant {
  background-color: Black;
  padding: .25rem;
  border-radius: .25rem;
}

.language-mediant code {
  color: white;
}

/* carousel*/
.carousel-item {
  height: 20vh;
  min-height: 200px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
