---

---

$theme1: #09080c;
$theme2: #3A0CA3; 
$theme3: #4361EE;
$theme4: #4CC9F0;
$theme5: #7209B7;
$theme6: #f17105;

.bg-theme1 { background-color: $theme1;}
.bg-theme2 { background-color: $theme2; }
.bg-theme3 { background-color: $theme3; }
.bg-theme4 { background-color: $theme4; }
.bg-theme5 { background-color: $theme5; }
.bg-theme6 { background-color: $theme6; }
.text-default { color: $theme1; }
.text-theme1 { color: $theme1; }
.text-theme2 { color: $theme2; }
.text-theme3 { color: $theme3; }
.text-theme4 { color: $theme4; }
.text-theme5 { color: $theme5; }
.text-theme6 { color: $theme6; }