---
layout: default
---
{% comment %}
<!--
    v1.00 _layouts/page.html
-->
{% endcomment %}

{% assign themes = site.data[page.theme] %}
{% unless themes %}
{% assign themes = site.data.theme1 %}
{% endunless %}

{% assign scheme = themes[page.scheme] %}
{% unless scheme %}
{% assign scheme = themes.light %}
{% endunless %}

<section id="page" class = "{{ scheme.layout.section }}">
    {% if scheme.layout.container %}<div id="container" class="{{ scheme.layout.container }}">{% endif %}
        {{ content }}
    {% if scheme.layout.container %}</div>{% endif %}	
</section>