---
layout: default
---
{% comment %}
<!--

    v1.00 _layouts/page.html

# Documentation -  Add to documentation
    
-->
{% endcomment %}
<section id="page" {% if pagetheme.class.section %}class="{{pagetheme.class.section }}"{% endif %}  {% if pagetheme.style.section %}style="{{pagetheme.style.section }}"{% endif %}>
    {% if pagetheme.class.container %}<div id="container" class="{{ pagetheme.class.container }}">{% endif %}
		{% if pagetheme.class.container %}</div>"{% endif %}  
    {{ content }}
    {% if pagetheme.class.container %}</div>{% endif %}	
</section>