---
layout: default
---
{% comment %}
<!-- v1.00 _layouts/post.html -->
{% endcomment %}

{% assign theme = site.data[page.theme][page.scheme] %}
{% unless theme %}
{% assign theme = site.data.theme1.light %}
{% endunless %}

<section id="post" class = "{{ theme.layout.section }}">
	{% if theme.layout.container %}<div id="container" class="{{ theme.layout.container }}">{% endif %}
		<div class="row">
			<div id="content" class="col-sm-8" >
				{{ content }}
			</div>
			<div id="sidebar" class="col-sm-4" >
				{% include toc.html html=content class="list-group sticky-top" item_class="list-group-item  list-group-item-action" h_min=2 h_max=2 sanitize=true %}
			</div>
		</div>
		{% if theme.layout.container %}</div>{% endif %}	
</section>
