---
layout: default
---
{% comment %}
<!--

    v1.00 _layouts/videos.html
    
# Documentation -  Add to documentation
    
-->
{% endcomment %}

<section id="videos" {% if pagetheme.class.section %}class="{{pagetheme.class.section }}" {% endif %} {% if pagetheme.style.section %}style="{{ pagetheme.style.section }}" {% endif %}>
    {% if pagetheme.class.container %}<div id="container" class="{{ pagetheme.class.container }}">{% endif %}
    <div class="row">
        <div class="col-md-8">
            {% case page.video-provider %}
            {% when "youtube" %}
            {% include video-youtube.html id = page.video-id  %}
            {% when "ignite" %}
            {% include video-ignite.html id = page.video-id  %}
            {% when "vimeo" 5 %}
            {% include video-vimeo.html id = page.video-id  %}
            {% endcase %}
        </div>
        <div class="col-md-4">
            <h3 class="my-3">{{ page.title }}</h3>
            <p>{{ page.description }}</p>
            <h3 class="my-3">Details</h3>
            <p><b>Conference:</b> {{ page.conference }}</p>
            <p><b>Year:</b> {{ page.year }}</p>
            <p><b>Speaker(s):</b> {{ page.speaker }}</p>
        </div>
    </div>
    {{ content }}
    {% if pagetheme.class.container %}</div>{% endif %}
</section>